.homePage {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .getAllPost {
        width: 60%;
        padding: 0 16px;
    }

    @media screen and (max-width: $tablette) {
        .getAllPost {
            width: 100%;
            padding: 0;
        }
    }

    .getAllCategories {
        width: 40%;
        padding: 0 16px;

        @media screen and (max-width: $tablette) {
            display: none;
        }
    }
}