.post{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(39, 39, 39, 0.14) 0px 0px 8px;
    .postInfos{
        display: block;
        width: 80%;
        .separator{
            flex: 1 1 0%;
            height: 1px;
            background-color: rgb(216, 218, 232);
        }
        .postInfosPrimary{
            display: flex;
            .postLogo{
                width: 200px;
                height: 200px;
                border: 1px solid $black;
            }
            .postPrixTitle{
                margin-left: 20px;
                .postPrix{
                    font-size: 1.2em;
                    display: flex;
                    p{
                        margin: 0 5px;
                    }
                    .priceNow{
                        color: $red;
                    }
                    .priceInit{
                        text-decoration: line-through;
                        color: black;
                    }
                }
            }
        }
        .postInfosSecondary{
            display: flex;
            align-items: center;
        }
        .postInfosTertiary{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            p {
                margin: 10px;
            }
            .postAuthor{
                font-weight: bold;
                display: inline-flex;
                .postAuthorAvatar{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
            .postCategories{
                display: inline-flex;
                .postCategory{
                    margin: 0 10px;
                }
            }
            .postDates{
                display: inline-flex;
                .postDate{
                    margin: 0 10px;
                }
            }
        }
    }
    .postBouton{
        display: block;
        width: 20%;
        position: relative;
        .postBoutonPol{
            display: flex;
            justify-content: space-around;
            background-color: $secondary;
            text-align: center;
            font-weight: bold;
            color: $white;
            margin-bottom: 20px;
            border-radius: 50px;
            .postBoutonPolUp{
                p {
                    align-items: center;
                    background-color: $greenLight;
                    padding: 5px 12px;
                    border-radius: 10px;
                    &:hover{
                        background-color: $greenHover;
                    }
                }
            }
            .postBoutonPolDown{
                p {
                    align-items: center;
                    background-color: $redLight;
                    padding: 5px 12px;
                    border-radius: 10px;
                    &:hover{
                        background-color: $redHover;
                    }
                }
            }
            }
        }
        .postBoutonComment{
            position: absolute;
            width: 80%;
            top: 35%;
            left: 10%;
            display: inline;
            text-align: center;
            .postBoutonCommentIcon img{
                width: 50px;
                height: 50px;
            }
            p {
                margin: 0;
            }
        }
        .postBoutonUrl{
            position: absolute;
            text-align: center;
            bottom: 0%;
            
            background: $primary;
            border-radius: 10px;
            color: $white;
            font-size: 1rem;
            font-weight: 700;
            width: 100%;
            padding: 5px;
            &:hover{
                background: $primaryHover;
                border-radius: 10px;
                cursor: pointer;
            }
            .postBoutonUrlIcon img{
                width: 50px;
                height: 50px;
            }
        }
}