.detailPost{
    text-align: center;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(39, 39, 39, 0.14) 0px 0px 8px;
    .detailPostInfosPrimary{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        .detailPostImages{
            width: 50%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .detailPostContent{
            .postPrice{
                font-size: 1.2em;
                display: flex;
                p{
                    margin: 0 5px;
                }
                .priceNow{
                    color: $red;
                }
                .priceInit{
                    text-decoration: line-through;
                    color: black;
                }
            }
            .postBoutonUrl{
                padding: 5px 25px;
                background-color: $secondary;
                text-align: center;
                border-radius: 10px;
                .postBoutonUrlIcon img{
                    width: 50px;
                    height: 50px;
                }
                &:hover{
                    background-color: $secondaryHover;
                }
            }
        }
    }
    .detailPostInfosSecondary{
        display: flex;
    }
}