.myAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;

    .userInfos {
        width: 90%;
        background-color: $white;
        box-shadow: 0 0 0.5rem rgba($black, 0.2);
        display: flex;
        padding: 12px;
        border-radius: 10px;
        flex-direction: row;
        flex-wrap: wrap;

        .userAvatar {
            width: auto;
            margin: 0 auto;
            background-color: $white;
            box-shadow: 0 0 0.5rem rgba($black, 0.2);
            padding: 10px;

            img {
                width: 100px;
                height: 100px;
            }
        }

        .userInfosPrimary {
            margin: auto;
        }

        .userInfosSecondary {
            margin: auto;
        }

        .userInfosEdit {
            margin: auto;

            a {
                text-decoration: none;

                .primaryBouton {
                    background: $primary;
                    border-radius: 10px;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 700;
                    width: 100%;
                    text-align: center;
                    padding: 10px 0px;

                    &:hover {
                        background: $primaryHover;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .userBlock {
        display: flex;
        width: 90%;
        background-color: $white;
        margin: 10px 0px;
        padding: 12px;

        @media screen and (max-width: $tablette) {
            flex-direction: column;
            padding: 0px;
        }

        .userStats {
            width: 20%;
            margin: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            box-shadow: 0 0 0.5rem rgba($black, 0.2);
            border-radius: 10px;

            @media screen and (max-width: $tablette) {
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }

        .userPosts {
            width: 80%;
            margin: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            box-shadow: 0 0 0.5rem rgba($black, 0.2);
            border-radius: 10px;

            @media screen and (max-width: $tablette) {
                width: 100%;
                padding: 0;
                margin: 20px 0px;
            }

            .link {
                text-decoration: none;
                color: black;
            }

            .onePost {
                width: 80%;

                @media screen and (max-width: $tablette) {
                    width: 100%;
                }

                .updatePost {
                    position: relative;

                    .updateButton {
                        position: absolute;
                        top: 25px;
                        right: 45%;
                        background: $primary;
                        border-radius: 10px;
                        color: $white;
                        font-size: 1rem;
                        font-weight: 700;
                        width: 10%;
                        text-align: center;
                        padding: 10px 0px;

                        &:hover {
                            background: $primaryHover;
                            border-radius: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}