.myAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;

    .userInfos {
        width: 90%;
        background-color: $white;
        box-shadow: 0 0 0.5rem rgba($black, 0.2);
        display: flex;
        padding: 12px;
        border-radius: 10px;
        flex-direction: row;
        flex-wrap: wrap;

        .userAvatar {
            width: auto;
            margin: 0 auto;
            background-color: $white;
            box-shadow: 0 0 0.5rem rgba($black, 0.2);
            padding: 10px;

            img {
                width: 100px;
                height: 100px;
            }
        }

        .userInfosPrimary {
            margin: auto;
        }

        .userInfosSecondary {
            margin: auto;
        }

        .userInfosEdit {
            margin: auto;
            display: flex;

            @media screen and (min-width: $tablette) {
                flex-direction: column;
            }

            .deconnexionBouton {
                background: $red;
                border-radius: 10px;
                color: $white;
                font-size: 1rem;
                font-weight: 700;
                width: 100%;
                text-align: center;
                padding: 10px 5px;
                margin: 0px 10px;

                @media screen and (min-width: $tablette) {
                    margin: 10px 0px;
                }

                &:hover {
                    background: $redHover;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            a {
                text-decoration: none;

                .primaryBouton {
                    background: $primary;
                    border-radius: 10px;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 700;
                    width: 100%;
                    text-align: center;
                    padding: 10px 5px;
                    margin: 0px 10px;

                    @media screen and (min-width: $tablette) {
                        margin: 10px 0px;
                    }

                    &:hover {
                        background: $primaryHover;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .userBlock {
        display: flex;
        width: 90%;
        background-color: $white;
        margin: 10px 0px;
        padding: 12px;

        @media screen and (max-width: $tablette) {
            flex-direction: column;
            padding: 0px;
        }

        .userStats {
            width: 20%;
            margin: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            box-shadow: 0 0 0.5rem rgba($black, 0.2);
            border-radius: 10px;
            height: 350px;

            @media screen and (max-width: $tablette) {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            .stats {
                display: flex;

                .bold {
                    font-weight: 700;
                    margin: 0px 5px;
                }
            }
        }

        .userPosts {
            width: 80%;
            margin: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            box-shadow: 0 0 0.5rem rgba($black, 0.2);
            border-radius: 10px;

            @media screen and (max-width: $tablette) {
                width: 100%;
                padding: 0;
                margin: 20px 0px;
            }

            .link {
                text-decoration: none;
                color: black;
            }

            .onePost {
                width: 80%;
                margin-bottom: 35px;

                @media screen and (max-width: $tablette) {
                    width: 100%;
                }

                .action {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 50px;
                        height: 50px;
                    }

                }

                .deleteButton {
                    background: $red;
                    border-radius: 10px;
                    width: 100px;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: center;
                    padding: 10px;
                    margin: 0px 10px;

                    @media screen and (min-width: $tablette) {
                        margin: 10px 0px;
                    }

                    &:hover {
                        background: $redHover;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }

                .updatePost {
                    a {
                        text-decoration: none;
                    }

                    .updateButton {
                        text-decoration: none;
                        background: $primary;
                        border-radius: 10px;
                        color: $white;
                        font-size: 1rem;
                        font-weight: 700;
                        text-align: center;
                        padding: 10px;
                        width: 100px;
                        margin: 0px 10px;

                        &:hover {
                            background: $primaryHover;
                            border-radius: 10px;
                            cursor: pointer;
                        }
                    }
                }

                .supBouton {
                    background: $red;
                    border-radius: 10px;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 700;
                    width: 100%;
                    text-align: center;
                    padding: 10px 5px;
                    margin: 0px 10px;

                    @media screen and (min-width: $tablette) {
                        margin: 10px 0px;
                    }

                    &:hover {
                        background: $redHover;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}