@import "../variables/variables.scss";

.navBar {
    display: flex;
    background-color: $primary;
    height: 130px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .navBar__left {
        display: flex;
        align-items: center;
        padding: 0 16px;

        .logo {
            width: 80px;
            margin: auto;

            @media screen and (min-width: $mobile) and (max-width: $tablette) {
                width: 60px;
            }

            @media screen and (max-width: $mobile) {
                width: 40px;
            }
        }


    }

    .navBar__right {
        display: flex;
        align-items: center;
        padding: 0 16px;

        .icon {
            width: 80px;
            height: 80px;

            @media screen and (min-width: $mobile) and (max-width: $tablette) {
                width: 60px;
                height: 60px;
            }

            @media screen and (max-width: $mobile) {
                width: 40px;
                height: 40px;
            }
        }
    }

    .imgHeader {
        width: 40px;
    }


    ul {
        display: flex;
        gap: 20px;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: $black;
        font-size: 22px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        margin: auto;
        padding: 10px;
    }
}