$white: #fff;
$black: #000;
$red: #F00;
$green: #0F0;

$redLight: #FF4040;
$redHover: #EE7070;
$redDark: #A80D0D;

$greenLight: #40FF40;
$greenHover: #70EE70;
$greenDark: #0DA80D;

$primary: #F49525;
$primaryLight: #FFA640;
$primaryHover: #FAC219;
$prilaryDark: #A8600D;

$background: #F5F5F5;

$secondary: #25B7F5;
$secondaryLight: #40C0FF;
$secondaryHover: #0ABCBF;
$secondaryDark: #0D6DA8;

$terciary: #A8600D;
$terciaryLight: #FF40C0;
$terciaryHover: #BF7E06;
$terciaryDark: #A80D6D;

$desktop: 1440px;
$tablette: 1024px;
$mobile: 768px;
$maxWidth: 1200px;